@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1b1a1a;

  --card: #d5d5d5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b1a1a;
    --foreground: #ffffff;

    --card: #5d5353;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  overflow: hidden;
}
